Cheetah==2.4.4
Flask==0.10.1
Flask-RESTful==0.3.5
Jinja2==2.9.5
MarkupSafe==1.0
MySQL-python==1.2.3
PAM==0.4.2
Pillow==2.3.0
PyOpenGL==3.0.2
Twisted-Core==13.2.0
Twisted-Web==13.2.0
Werkzeug==0.12.1
-e git+https://github.com/mycroftai/adapt@3bb3bc56ffe1f7f0c0f591b7acd731c6388dd50a#egg=adapt_parser-origin/master
adium-theme-ubuntu==0.3.4
aniso8601==1.2.0
apt-xapian-index==0.45
argparse==1.2.1
backports.ssl-match-hostname==3.5.0.1
chardet==2.0.1
colorama==0.2.5
command-not-found==0.3
debtagshw==0.1
decorator==3.4.0
defer==1.0.6
dirspec==13.10
duplicity==0.6.23
esptool==0.1.0
gevent==1.1.1
greenlet==0.4.10
html5lib==0.999
httplib2==0.8
itsdangerous==0.24
lockfile==0.8
lxml==3.3.3
matplotlib==1.3.1
meld3==1.0.2
mercurial==2.8.2
mosquitto==0.15
numpy==1.10.1
oauthlib==0.6.1
oneconf==0.3.7
pbr==1.9.1
pexpect==3.1
piston-mini-client==0.7.5
psutil==1.2.1
pyOpenSSL==0.13
pycrypto==2.6.1
pycups==1.9.66
pycurl==7.19.3
pyee==1.0.1
pyglet==1.1.4
pygobject==3.12.0
pyparsing==2.0.1
pyserial==2.6
pysmbc==1.0.14.1
python-apt==0.9.3.5ubuntu1
python-dateutil==1.5
python-debian==0.1.21-nmu2ubuntu2
pytz==2012c
pyxdg==0.25
reportlab==3.0
requests==2.2.1
scipy==0.13.3
sessioninstaller==0.0.0
six==1.10.0
software-center-aptd-plugins==0.0.0
ssh-import-id==3.21
stevedore==1.12.0
supervisor==3.2.4
system-service==0.1.6
tensorflow==0.5.0
tornado==3.1.1
unity-lens-photos==1.0
urllib3==1.7.1
virtualenv==15.0.2
virtualenv-clone==0.2.6
virtualenvwrapper==4.7.1
websocket==0.2.1
websocket-client==0.37.0
wheel==0.24.0
wsgiref==0.1.2
wxPython==2.8.12.1
wxPython-common==2.8.12.1
xdiagnose==3.6.3build2
zope.interface==4.0.5
